*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: 'Monsterrat', sans-serif;
    margin: 80px;
  
    min-height: 100vh;
}

.container1 {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px;  
    margin-bottom: -110px; 
}

.titulo {
    font-family: 'Playfair Display', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}

.enunciado {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}


.texto {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}

.container2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px;
    margin-bottom: 80px;
    
}

h3{
    font-family: 'Playfair Display', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}


.email{
    font-size: 20px;
}
.desplegable select{

    width: 100%; /* Ajusta el ancho del desplegable al 100% del contenedor */
    padding: 10px; /* Ajusta el relleno interno del desplegable */
    font-size: 20px;
    border-radius: 8px; /* Establece el radio de los bordes para que estén redondeados */
    border-color: #888;
}

.email-input{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

textarea{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.confirmar{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.consulta{
    font-size: 20px;
}

.search-btn {
    cursor: pointer;
    margin-left: 10px;
}

.search-btn img {
    width: 30px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
}

section {
    padding: 20px;
    background-color: #C6FFD0;
}





/* Estilos para el formulario */

.correo{
    margin-bottom: 15px;
}
/* Estilo del textarea */
#escribir {
    width: 100%; /* Ancho del textarea */
    height: 200px; /* Altura del textarea */
    padding: 10px; /* Espaciado interno */
    font-size: 20px; /* Tamaño de fuente */
    border: 1px solid #ccc; /* Borde del textarea */
    border-radius: 5px; /* Radio de borde */
    resize: vertical; /* Permitir redimensionamiento vertical */
  }
  
  /* Estilo para la etiqueta del textarea */
  label[for="escribir"] {
    margin-top: 20px; /* Espacio encima de la etiqueta */
    display: block; /* Mostrar en bloque */

  }
  
/*botón*/
  .button2 {
    border: 1px solid #FF00A1;
    border-radius: 5%;
    width: 10%;
    min-width: 150px;
    height: 30px;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 20px;
    cursor: pointer;
    overflow: hidden; /* Impedir que el pseudo-elemento se salga del botón */
    position: relative; /* Para que el pseudo-elemento se posicione correctamente */
    background-color: white; /* Fondo inicial */
    margin: auto;
    margin-top: -130px;
    margin-bottom: 70px;
}

.button2::before {
    content: "";
    position: absolute;
    top: var(--y, 50%);
    left: var(--x, 50%);
    width: 0;
    height: 0;
    background-color: #FF00A1; /* Color para el efecto */
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s, height 0.5s; /* Suavizar la expansión */
    margin-top: 15px;
    margin: auto;
}

.button2:hover::before {
    width: 320px; /* Tamaño suficiente para cubrir el botón */
    height: 320px;
}

.button2:active {
    background-color: #FF00A1;
    transform: scale(0.95);
}
  
.boton-cta{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;

}
  
.boton-cta{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;

}




