/* Estilos generales */
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    margin: 80px;
    padding: 0;
}

.titulo {
    font-family: 'Outfit', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}

.titulostabla{
    font-size: 20px;
}

.textousuarios{
    font-size: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px;
}

.search-btn {
    cursor: pointer;
    margin-left: 10px;
}

.search-btn img {
    width: 30px;
    height: auto;
}

section {
    padding: 20px;
    /*background-color: #820153;*/
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}
td {
    text-align: center;
}

.tabla {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}

.Checkbox {
    transform: scale(2);
    accent-color: #820153;
}

/*estilos del botón*/
.button-container {
    margin-top: 10px;
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 20px;
    font-family: 'Outfit', sans-serif; /* Se establece la fuente del botón */
}

.boton {
    font-family: 'Outfit', sans-serif; /* Se establece la fuente del botón */
    font-size: 20px; /* Se establece el tamaño del botón */
    width: 70%; /* El botón ocupa todo el ancho del contenedor */
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}


button:hover {
    background-color: #820153;
    color: white;
}


/* Estilos para pantallas pequeñas */
@media screen and (max-width: 376px) {
    body {
        margin: 20px;
    }

    .container {
        padding: 20px;
    }

    .titulo {
        font-size: 32px;
    }

    .titulostabla{
        font-size: 13px;
    }

    .textousuarios{
        font-size: 13px;
    }


    label {
        font-size: 13px;
    }

    input,
    button {
        font-size: 13px;
    }

    .boton {
        font-size: 13px;
    }
}
