/* Estilos generales */
* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    margin: 80px;
    min-height: 100vh;
}

.titulo {
    font-family: 'Outfit', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}

.texto {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px;
    margin-bottom: 80px;
}

.email {
    font-size: 20px;
}

.email-input {
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    width: 100%;
    text-align: left;
}

.desplegable select {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    border-color: #888;
    cursor: pointer;
}

.escribir-textarea {
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
}

.confirmar {
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
}

.consulta {
    font-size: 20px;
}

.escribir {
    font-size: 20px;
}

.search-btn {
    cursor: pointer;
    margin-left: 10px;
}

.search-btn img {
    width: 30px;
    height: auto;
}

section {
    padding: 20px;
    background-color: #C6FFD0;
}

label {
    font-size: 20px;
    margin-bottom: 5px;
}

/* Estilos para el formulario */

.correo {
    margin-bottom: 15px;
}

/* Estilo del textarea */
#escribir {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

/* Estilo para la etiqueta del textarea */
label[for="escribir"] {
    margin-top: 20px;
    display: block;
}

a:hover{
    background: white;
}

.boton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.boton {
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
    width: 150%; /* Aumenta el ancho del botón */
    max-width: 400px; /* Ancho máximo del botón */
}

input,
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    text-align: center;
}

button:hover {
    background-color: #820153;
    color: white;
    cursor: pointer;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 376px) {
    body {
        margin: 20px;
    }
    
    .container {
        max-width: 100%;
        padding: 20px;
    }
    
    .titulo {
        font-size: 32px;
    }
    
    .texto,
    .email,
    .email-input,
    .escribir-textarea,
    .confirmar,
    .consulta,
    .escribir{
        font-size: 13px;
    }

    label {
        font-size: 16px;
    }

    .boton-container {
        width: 100%;
    }
    
    .boton {
        width: 100%;
        font-size: 13px;
    }
}
