/* Estilos generales */
* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    margin: 80px;
    min-height: 100vh;
    background-image: url(/assets/images/c57783e2-177c-4094-a447-18d0cc5a122d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo {
    font-family: 'Outfit', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}

.texto {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}

.container {
    max-width: 450px;
    margin: 0 auto;
    padding: 60px;
    margin-bottom: 80px;
}

.search-btn {
    cursor: pointer;
    margin-left: 10px;
}

.search-btn img {
    width: 30px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
}

section {
    padding: 20px;
    background-color: #C6FFD0;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

a:hover{
    background: white;
}

.boton {
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
    text-align: center;
    
}

input,
button {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button:hover {
    background-color: #820153;
    color: white;
}


/* Estilos para pantallas de móvil */
@media screen and (max-width: 376px) {
    body {
        margin: 10px;
    }
    
    .container {
        padding: 10px;
        max-width: 100%;
    }
    
    .titulo {
        font-size: 32px;
    }
    
    .texto {
        font-size: 13px;
    }

    .boton{
        font-size: 13px;
    }
}
