header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Que ocupe todo ancho de la ventana */
    height: 75px;
    background-color: #C6FFD0;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 1; /* Aumenta el nivel Z del header para que sea visible siempre */
}

.logo {
    width: 150px;
    cursor: pointer; /* Cambia el cursor al dedito al pasarlo por el logo, para indicar que se puede clicar */
}



.menu-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex; /* Usa flexbox */
    justify-content: flex-end; /* Alinea el contenido a la derecha */
    align-items: center; /* Centra verticalmente el contenido */
    width: 100%; /* Ocupa todo el ancho disponible */
    text-align: right; /* Alinea el texto a la derecha */
}

#boton-menu {
    position: fixed;
    width: 50px;
    right: 0px;
    padding: 10px 20px;

    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 999;
}

#boton-cerrar {
    width: 50px;
    position: absolute;
    top: 10px;
    right: 30px; /* Ajusta la posición del botón cerrar */
    background-color: transparent;
    border: none;
    color: black;
    font-size: 50px;
    cursor: pointer;
    padding: 0 5px; /* Reducir el espacio alrededor del texto */
}
#menu {
    position: fixed;
    right: -310px;
    top: 0;
    width: 310px;
    height: 100%;
    background-color: white;
    color: black;
    
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px; /* Añade bordes redondeados */
}

#menu:hover {
    border-radius: 10px; /* Cambia el radio al pasar el cursor por encima */
}
.menu-button img {
    width: 60px;
    height: auto;
    margin-right: 5px; /* Margen derecho para separar la imagen del texto */
}


ul {
    padding: 0;
    margin: 70px 20px; /* Ajusta la separación desde arriba */
    width: calc(100% - 40px); /* Ajusta el ancho de la lista restando el doble del margen de los lados */
}


li {    
    list-style: none;
    margin-bottom: 20px;
}
a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    
}

a:hover {
    background-color: #66DF8F; /* Cambiado el color de fondo al pasar el cursor */
    color: white; /* Cambiado el color del texto al pasar el cursor */
    border-radius: 10px; /* Cambia el radio al pasar el cursor por encima */
}



footer {
    position: absolute;
    left: 0;
    width: 100%; /* Que ocupe todo ancho de la ventana */
    height: 150px;
    background-color: #C6FFD0;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribución uniforme */
}

.footer-text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;  /* Centra el texto horizontalmente */
    align-content: center;
    font-family: "Montserrat", "sans-serif";
    font-size: 20px;
    color: white;
}